/*NAVBAR*/
.bg-white {
  background-color: #f9f8f9;
}

.bg-violet {
  background-color: #c293cc;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#botonera ul li a {
  color: #5e538a;
}
#botonera img {
  width: 110px;
}

.img-index {
  width: 90%;
}

.text-center {
  padding: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

/*testimoniales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#testimoniales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimoniales-heading {
  letter-spacing: 1px;
  margin: 30px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimoniales-heading h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #bc3fb8;
  padding: 10px 20px;
}

.testimoniales-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimoniales-box {
  width: 500px;
  box-shadow: 2px 2px 20px #bc3fb8;
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.perfil-img {
  width: 50%;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: cover;
}

.perfil {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}
.name-user strong {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span {
  font-size: 0.8rem;
}

.comentarios {
  color: #aa61ba;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cliente-comentario p {
  font-size: 0.9rem;
  width: 100%;
}

.sobre, .contacto, .portafolio, .servicios {
  padding: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  color: #aa61ba;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.parrafo {
  width: 100%;
}

.card-text {
  padding: 0;
  width: 100%;
  font-family: arial, helvetica, sans-serif;
  font-size: 15px;
  text-align: initial;
}

.card {
  margin: 80px;
  border: 2px solid #c293cc;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.servicios2__img--fluid, .img__portafolio--fluid, .servicios3__img--fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.servicios3__img--fluid {
  width: 50%;
}

.over {
  position: relative;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 8px;
  background-color: #5e538a;
}

.over:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-fluid {
  max-width: 50%;
}

/*PORTAFOLIO*/
.img__portafolio--fluid {
  width: 100%;
}

p {
  padding: 20px;
  width: 50%;
  font-size: 15px;
  text-align: left;
}

.texto {
  padding: 20px;
  width: 100%;
  text-align: justify;
  font-family: arial, helvetica, sans-serif;
}

/* FORMULARIO*/
form {
  width: 450%;
  margin: auto;
  background: rgba(128, 128, 128, 0.516);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
  border: 2px solid #c293cc;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formulario {
  color: #bc3fb8;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input,
textarea {
  width: 80%;
  margin-bottom: 10px;
  padding: 0;
  margin: 4px;
  box-sizing: border-box;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

/*FOOTER*/
footer {
  width: 100%;
  padding: 50px 0;
  background-image: url(../img/footer/background-footer.svg);
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box__footer h2 {
  color: #343434;
  font-weight: 700;
}
.box__footer a {
  margin-top: 10px;
  color: #bc3fb8;
  font-weight: 600;
  text-decoration: none;
}
.box__footer .logo img {
  width: 180px;
}
.box__footer a:hover {
  opacity: 0.8;
}
.box__footer a .fab {
  font-size: 20px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0 40px;
}
.box__copyright p {
  margin-top: 20px;
  color: #bc3fb8;
}
.box__copyright hr {
  border: none;
  height: 3px;
  background-color: #bc3fb8;
}

/* RESPONSIVE*/
@media screen and (max-width: 1200px) and (min-width: 280px) {
  .parrafo {
    width: 100%;
  }
  .card {
    width: 49.99999%;
    margin: 30px 50px;
  }
  .img-fluid {
    max-width: 50%;
    margin: 90px;
    margin-top: 0%;
  }
  .card-portafolio {
    max-width: 80%;
    margin: 10px 35px;
  }
  form {
    width: 270px;
  }
}
.testimoniales-heading h1 {
  font-size: 1.1rem;
}

.parrafo {
  width: 100%;
  font-size: 1rem;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
