/*FOOTER*/

footer {
  width: $w-100;
  padding: 50px $p-0;
  background-image: url(../img/footer/background-footer.svg);
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  h2 {
    color: $footerColor;
    font-weight: 700;
  }
  a {
    margin-top: 10px;
    color: $rosa;
    font-weight: 600;
    text-decoration: none;
  }
  .logo img {
    width: 180px;
  }
  a:hover {
    opacity: 0.8;
  }
  a .fab {
    font-size: $fs-20;
  }
}
.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: $p-0 40px;
  p {
    margin-top: 20px;
    color: $rosa;
  }
  hr {
    border: none;
    height: 3px;
    background-color: $rosa;
  }
}
