/* RESPONSIVE*/

@media screen and (max-width: 1200px) and (min-width: 280px) {
  .parrafo {
    width: $w-100;
  }

  .card {
    width: 49.99999%;
    margin: 30px 50px;
  }
  .img-fluid {
    max-width: 50%;
    margin: 90px;
    margin-top: 0%;
  }
  .card-portafolio {
    max-width: 80%;
    margin: 10px 35px;
  }
  form {
    width: 270px;
  }
}
.testimoniales-heading h1 {
  font-size: 1.1rem;
}
.parrafo {
  width: $w-100;
  font-size: 1rem;
  padding: $p-0;
}
